<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Data Driven March Madness</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body>
		<!-- Header -->
			<!-- For some reason it's a little bit lighter than normal, not sure why -->
			<a id="header" href="/" class = "alt inner">
				<h1>Data Driven March Madness</h1>
				<p><b>
					A Project by Rob Shaw, Spencer Evans, Daniel Alpert, and Sean Coleman</b></p>			
			</a>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-dribbble major"></span>
						<h2>Create a Bracket</h2>
						<p>Our model has built in flexibility allowing you to dynamically construct your own bracket unique to your preferences and risk tolerance. </p>
						<ul class="actions">
							<li><a href="create" class="button big">Make Your Bracket</a></li>
						</ul>
					</section>

					<section id="cta" class="main special">
						<h2>Our Method to the Madness</h2>
						<p class="intro">March Madness is one of the most exciting months in all of sports. Each year, the top 64 teams in college basketball play a single elimination tournament, the winner of which is crowned champion for the year. Due to the single elimination style, the chance for upsets and cinderella stories is much larger than for other sports. Because of this, sports fans around the world create brackets which predict the results of the tournament, using mostly expert opinions and qualitative analysis. However, due to the large number of teams, it is essentially impossible to have a good understanding of each team's strengths and weaknesses. That's where we come in. Becuase the NCAA tournament occurs at the end of the season, there is a large amount of data available from the regular season, which we can use to predict the results of March Madness.</p>
					</section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="markov"><img src="static/images/markov_chain.png" alt="" /></a>
							</header>
							<h2>NCAA as a Markov Chain</h2>
							<p> Our Most Powerful Predictor</p>
							<ul class="actions">
								<li><a href="markov" class="button">Find out More</a></li>
							</ul>
						</article>

						<article class="item">
							<header>
								<a href="head_to_head"><img src="static/images/coachk.jpg" alt="" /></a>
							</header>
							<h2>Head to Head Model<br><br></h2>
							<p>Data Exploration | Variable Selection | Train Test Split</p>
							<ul class="actions">
								<li><a href="head_to_head" class="button">Find out More</a></li>
							</ul>
						</article>

						<article class="item">
							<header>
								<a href="winning"><img src="static/images/cut_net.jpg" alt="" /></a>
							</header>
							<h2>Predicting a Bracket</h2>
							<p> Office Pool | Upset Bias | Cooling Factor | Optimize for Scoring</p>
							<ul class="actions">
								<li><a href="winning" class="button">Find out More</a></li>
							</ul>
						</article>

						<article class="item">
							<header>
								<a href="actions"><img src="static/images/espn_bracket.png"/></a>
							</header>
							<h2>Ensemble Method<br><br></h2>
							<p> Winning ESPN's 10 Bracket Challenge</p>
							<ul class="actions">
								<li><a href="ensemble" class="button">Find out More</a></li>
							</ul>
						</article>

						<article class="item" style="width: 200%;">
							<header>
								<a href="actions"><img src="static/images/comparison.png"/></a>
							</header>
							<h2>Results</h2>
							<p> Comparing our Model to the World and Leading Experts</p>
							<ul class="actions">
								<li><a href="results" class="button">Find out More</a></li>
							</ul>
						</article>

					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>References</h2>
						<p>List of references with links...</p>
					</section>

				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Design: <a href="https://templated.co">TEMPLATED</a>. </p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>